/* Estilos responsivos para mobile */
@media (max-width: 768px) {
  body {
    overflow-x: hidden; /* Impede o arrasto lateral */
    background-color: #0f1112;
  }

  .App {
    height: auto;
    padding: 20px;
    background-image: none; /* Remove a imagem de fundo */
    background-color: #0f1112;
  }

  .App-logo {
    height: 20vmin;
  }

  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .App-header .left {
    margin-bottom: 10px;
  }

  .App-header .right button {
    width: 100%;
    margin: 5px 0;
  }

  .service-item {
    max-width: 100%;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .sobre-nos-text {
    padding: 10px;
  }

  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    margin: 10px 0;
  }

  .team-photo {
    width: 100px;
    height: 100px;
  }

  .video-container {
    width: 100%;
    height: auto;
  }

  .videos-container {
    flex-direction: column;
    align-items: center;
  }
}