/* Estilos responsivos para mobile */
@media (max-width: 768px) {
  body {
    overflow-x: hidden; /* Impede o arrasto lateral */
    background-color: #282c34; /* Define a cor de fundo do corpo como cinza-react */
  }

  .App {
    height: auto;
    padding: 20px;
    background-image: none; /* Remove a imagem de fundo */
    background-color: #282c34; /* Define a cor de fundo como cinza-react */
  }

  .App-logo {
    height: 20vmin;
  }

  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .App-header .left {
    margin-bottom: 10px;
  }

  .App-header .right button {
    width: 100%;
    margin: 5px 0;
  }
}
